<a href="https://colab.research.google.com/github/evandrornunes/projeto-de-governan-a/blob/main/Unidade3%20Aula1%20%20%20%20exercicio%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


✅ Importar biblioteca SQL: import sqlite3

In [3]:
import sqlite3

In [2]:
import sqlite3
# 1. Conectar ao banco de dados (ou criar um novo)
Conn = sqlite3.connect('Vandão.db')
# 2. Criar um objeto cursor
cursor = Conn.cursor()

# 3. Definir o comando SQL para criar a tabela
create_table = """CREATE TABLE IF NOT EXISTS Produtos (

    id INTEGER PRIMARY KEY,

    nome TEXT NOT NULL,

    preco REAL NOT NULL,

    estoque INTEGER

);"""
# 4. Executar o comando SQL para criar a tabela
cursor.execute(create_table)

# 5. Confirmar as alterações (commit)
Conn.commit()
# 6. Fechar a conexão com o banco de dados
Conn.close()

In [3]:
import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('Vandão.db')
cursor = conn.cursor()

# Dados do novo produto
novo_produto = ('Camiseta', 19.99, 50)
# Comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"

# Executando o comando SQL para inserção
cursor.execute(inserir_produto, novo_produto)
# Confirmando as alterações
conn.commit()
# Fechando a conexão
conn.close()

In [8]:
import pandas as pd

# Conectando ao banco de dados
conn = sqlite3.connect('Vandão.db')
cursor = conn.cursor()

# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"

# Executando o comando SQL
cursor.execute(selecionar_produtos)
# Obtendo todos os registros and exibindo-os

produtos = cursor.fetchall()
for produto in produtos:
    print(produto)
# Fechando a conexão
conn.close()

(1, 'Camiseta', 19.99, 50)

In [14]:
import pandas as pd

# Conectando ao banco de dados
conn = sqlite3.connect('Vandão.db')
cursor = conn.cursor()

# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"

# Executando o comando SQL
cursor.execute(selecionar_produtos)
# Obtendo todos os registros and exibindo-os
produtos = cursor.fetchall()

# Configura pra uso do panda...
colunas = [ desc[0] for desc in cursor.description]
df_produtos = pd.DataFrame(produtos, columns=colunas)
display(df_produtos)

# Configurar processo aula
for produto in produtos:
    print(produto)
# Fechando a conexão
conn.close()

   id      nome  preco  estoque
0   1  Camiseta  19.99       50

(1, 'Camiseta', 19.99, 50)