<a href="https://colab.research.google.com/github/evandrornunes/projeto-de-governan-a/blob/main/Unidade3%20Aula2%20-%20conclu%C3%ADdo%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Criando uma lista de valores
exemplo1 = [10, 20, 30, 40, 50]

# Criando uma Series a partir da lista
series1 = pd.Series(data = exemplo1)

print(series1)
print(exemplo1)

0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]

In [ ]:
import pandas as pd

# Criando um dicionário com pares chave-valor
exemplo2 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

# Criando uma Series a partir do dicionário
series2 = pd.Series(data = exemplo2)

print(series2)
print(exemplo2)

A    100
B    200
C    300
D    400
E    500
dtype: int64
{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [ ]:
import pandas as pd
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))
# Portanto, temos nosso DataFrame com uma lista que contém apenas uma tabela.

<class 'list'>
1

In [ ]:
df_bancos = dfs[0]

In [ ]:
print(df_bancos.shape)

(25, 7)

In [ ]:
print(df_bancos.dtypes)

Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

In [ ]:
df_bancos.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

Agora, vamos colocar em prática o que aprendemos nesta aula para resolver nosso problema inicial. Podemos usar a biblioteca pandas para descobrir em qual público a loja deve investir. Para tanto, devemos calcular a média de idade dos clientes.

In [ ]:
import pandas as pd
# Criar um dicionário com nomes e idades
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],

    'Idade': [80, 30, 22, 35, 28]
}
# Criar uma série a partir do dicionário
serie_idades = pd.Series(dados['Idade'], index=dados['Nome'])
# pd.Series(dados['Idade'] = é uma função para criar uma coluna usando a sequencia dos dadso inseridos em uma lista
# index=dados['Nome'] = é uma função que escolhe o primeiro item de uma lista
# Exibir a série de idades

print("Série de Idades:") #
print(serie_idades) # coluna organizada por ordem dos nomes

Série de Idades:
Alice    80
Bob      30
Carol    22
David    35
Eve      28
dtype: int64

In [ ]:
# Calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia de Idades:", media_idades)
#resultado

Média de Idades: 39.0